<!--The content below is only a placeholder and can be replaced.-->

<div style="display:flex; flex-direction: column; justify-content:center">

    <mat-toolbar color="primary">iBot</mat-toolbar>
    
<div class="status" [ngClass]="{valid:is_valid(),invalid:!is_valid()}" style="text-align:center">
  desired_weights_sum={{desired_weights_sum()}}%
</div>

<div *ngFor="let asset of assets()">
  <div style="text-align:center">{{asset}} {{desired_weight(asset)}}%</div>
  <div style="display:flex">
    <button (click)="dec(asset)">-</button>
    <mat-slider style="flex:1" [value]="desired_weight(asset)" (input)="onChange(asset, $event)"></mat-slider>
    <button (click)="inc(asset)">+</button>
  </div>
</div>

  <button style="flex:1" mat-button [disabled]="apply_disabled()" >APPLY</button>
  <button style="flex:1" mat-button>CANCEL</button>

</div>
